[Desktop Entry]
Encoding=UTF-8
Name=Link to Arduino Beginners LDR Project
Type=Link
URL=https://301o583r8shhildde3s0vcnh-wpengine.netdna-ssl.com/wp-content/uploads/2014/10/ConnLDR-min.jpg
Icon=image-jpeg
Name[en_IN]=2_LDR.jpg
